<html>
<head>
<title>Резюме Довбыш Юлии</title>
<link rel="stylesheet" type="text/css" href="css.css" />
  <style>
  #center {
	top: 50%; 
	left: 50%; 
	width: 550px; 
	height: 550px; 
	position: absolute;
	margin-top: -225px; 
	margin-left: -225px; 
}
        .menu {
            list-style: none;
            padding: 0px;
            margin: 0px;
            font-family: 'Segoe UI';
            color: white;
        }

            .menu li {
                padding: 10px;
                margin: 4px;
                width: 200px;
                border-radius: 4px;
                cursor: pointer;
                background-color: #0094ff;
                /* тень */
                -webkit-box-shadow: 2px 2px 2px #808080;
                box-shadow: 2px 2px 2px #808080;
                /* определение перехода для ширины и цвета фона */
                -moz-transition: width 500ms ease-in, background-color 1s;
                -o-transition: width 500ms ease-in, background-color 1s;
                -webkit-transition: width 500ms ease-in, background-color 1s;
                transition: width 500ms ease-in, background-color 1s;
            }

                /* запуск анимации */
                .menu li:hover {
                    width: 220px;
                    background-color: #b200ff;
                }
				
				p { 
   font-family: Times New Roman;
   font-size: 40px;
   color:  #0000FF;
   align: center;
   }
   
   
   
    #id1 {
            border: 1px #000 solid;
            background-color: 	#7FFFD4;
            color: #000;
            width: 500px;
            cursor: pointer;
            padding: 10px;
            font-size: 1.5em;
            -webkit-transition: color 4s, width 4s, background-color 4s;
            -o-transition: color 4s, width 4s, background-color 4s;
            -moz-transition: color 4s, width 4s, background-color 4s;
            transition: color 4s, width 4s, background-color 4s;
        }

            #id1:hover {
                color: #CD853F;
                width: 400px;
                background-color:  	#F0FFFF;
            }
	#id2 {
          background-color: 	#00FFFF;
         }		  
   
    </style>
<body>
<div id="center">
<h1> <i> <MARQUEE>Резюме </MARQUEE> </i> </h1>
<img src="foto3.jpg"; width="180"; height="240" align="right"> </img>
<h2> <b> <font color="#FF1493"> Довбыш Юлия Сергеевна </b> </h2></font> <br/>
 <ul class="menu">
        <li>Дата рождения 14.11.1986</li>
        <li>Семейное положение:  замужем</li>
        <li>Проживание: Киев</li>
        <li>Тел.: 8096-632-34-49</li>
        <li>E-mail: <a href="http://www.i.ua"> Juli3St@i.ua </a></li>
    </ul>
<br/>
<br/>
<p> <strong> Образование </strong> </p> <br/>


 <div id="id1">март 2015- Киевский учебный центр “Курсор” курс “Тестировщик ПО”(Software tester)</div>
<pre>окт. 2010 – Институт последипломного образования НАКККІМ – свидетельство
 о повышении квалификации: правовое регулирование трудовых отношений.
 Кадровое делопроизводство.
июнь 2009 — Национальный авиационный университет, психологии и социологии,
 магистр, психолог,
 преподаватель высших учебных заведений</pre>
 <div id="id2">
 <strong>Ключевые навыки </strong> 
<pre>
•  разметка HTML, HTML5, CSS
•  основы JavaScript, C#, JQuery
•  основы SQL
•  работа в Visual Studio
•  Selenium
•  работа с багтрекинговой системой Jira, Bugzilla	
•  Word, Excel, программы: Liga - закон, HRM, Lotus, Босс-кадровик 
•  Ведение кадрового делопроизводства
•  Знание КЗоТ
•  Internet - опытный пользователь
</div>
</pre>
<p> Профессиональный опыт </p>
21.10.2014 - центр занятости <br/>
<br/>

 <div id="id1">01.11.2010 – 29.09.2014 ОАО «Кредитпромбанк»</div><br/>
<i> ведущий специалист отдела по работе с персоналом </i> <br/>
- приём, перевод, увольнение сотрудников;<br/>
- формирование табеля учета рабочего времени;<br/>
- ведение трудовых книжек, личных дел, карточек П-2 сотрудников;<br/>
- оформление служебных командировок;<br/>
-предоставление отпусков, отгулов;<br/>
- оформление листков нетрудоспособности;<br/>
<br/>
<strong> 11.05.2010 – 31.10.2010 ОАО «Кредитпромбанк» </strong> <br/>
<i> специалист отдела по работе с персоналом </i> <br/>
Основные обязанности:<br/>
- контроль, регистрация и согласование должностных инструкций сотрудников, положений про подразделения;<br/>
- контроль и регистрация договоров подряда внештатных работников;<br/>
- подготовка документов для передачи в архив;<br/>
- выдача официальных справок по запросу сотрудников;<br/>
- предоставление отпусков сотрудникам;<br/>
<br/>
 <div id="id1">08.2009 - 03.2010, АО «Дочерний банк Сбербанка России»</div><br/>
<i> специалист, отдел администрирования персонала (договор подряда) </i> <br/>
Основные обязанности: <br/>
- прием сотрудников на работу,<br/>
- формирование и ведение личных дел сотрудников,<br/>
- внесение в базу данных информацию о сотрудниках,<br/>
- написание кадровых приказов,<br/>
-оформление командировок <br/>
- организация деловых встреч начальника отдела <br/>
<br/>
 <div id="id1">02.2009 - 06.2009, Детский сад № 687 </div><br/>
<i> воспитатель </i> <br/>
Функциональные обязанности: <br/>
Прием детей в садик, проведение занятий (математика, лепка, рисование, украинский язык, <br/>
физкультура) изучение индивидуальных способностей, склонностей и интересов детей, а также <br/>
 использование полученных результатов в педагогической деятельности с целью развития каждого <br/>
 ребенка, проведение игр на свежем воздухе, организация мероприятий для детей.<br/>
 <br/>
 <div id="id2">
 <strong> Дополнительная информация </strong> <br/>
Языки: украинский, русский – свободно владею <br/>
английский - intermediate <br/>
Наличие водительских прав<br/>
</div>
<br/>
<strong> Личные качества: </strong>
Коммуникабельность, аналитический склад ума, обучаемость, ответственность, пунктуальность,<br/>
 внимательность ответственность, порядочность, креативность, умею работать в команде.</font> <br/>
 </div>
</body>
</head>
</html>
